name: Run test
on:
  workflow_dispatch:
    inputs:
      url:
        description: 'URL of target page to test (example: https://roy-consultancy.betty.app/codemie-demo)'
        required: true
      test:
        description: 'Specify the testfile you would like to run (example: hello_world)'
        required: true
      filename:
        description: 'Filename of result saved in repo'
        required: true
env:
  PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1 # Skip downloading during yarn install
  PLAYWRIGHT_BROWSERS_PATH: 0 # Places binaries to node_modules/@playwright/test
  PLAYWRIGHT_JSON_OUTPUT_NAME: ./cache/${{ github.event.inputs.filename }}.json

jobs:
  test-exam:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup
        run: |
          npm i
          npx playwright install
      - name: Substitute JSON file
        uses: microsoft/variable-substitution@v1
        with:
          files: 'app-settings.json'
        env:
          url: ${{ github.event.inputs.url }}
          
      - name: Create cache folder
        run: mkdir cache    

      - name: Run tests
        continue-on-error: true
        run: npx playwright test ${{ github.event.inputs.test }}

      - name: Copy contents temporary folder to results
        run: cp -R cache/* ./results
        
      - name: Commit changes
        uses: EndBug/add-and-commit@v7 # You can change this to use a specific version.
        with:
          author_name: Betty Blocks
          author_email: noreply@bettyblocks.com
          message: 'result: ${{ github.event.inputs.filename }}'
          add: '${{ github.event.inputs.filename }}.json'
          cwd: './results'
